<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
      <p>
        <mat-input type="email" name="email" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" ngModel required>
      </p>
      <!-- <input type="text" [(ngModel)]="mymessage" <button (click)="clickMe()"> send</button>
      <br><br>
      <h1>{{result | json}}</h1> -->
      <p>
        <input type="submit" value="Send">
      </p>
    </form>
  </div>
</div>